<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdaocloud.framework.mapper.ApplicationUserMapper">
  <resultMap id="BaseResultMap" type="com.xdaocloud.framework.model.ApplicationUser">
    <constructor>
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="application_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.xdaocloud.framework.model.ApplicationUser">
    insert into t_application_user (user_id, application_id)
    values (#{userId,jdbcType=INTEGER}, #{applicationId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xdaocloud.framework.model.ApplicationUser">
    insert into t_application_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="applicationId != null">
        application_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="applicationId != null">
        #{applicationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>