<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdaocloud.framework.mapper.PermissionMapper">
	<!-- 查询权限列表 -->
	<select id="findAll" parameterType="com.xdaocloud.framework.dto.request.permission.FindAllPermissionRequest" resultType="com.xdaocloud.framework.dto.response.permission.FindAllResponse">
		select t.id,t.name,t.permission_key,t.type,t.url,t.method,t.parent_id
		parentId,t.remark,t.status,t.sort,t.create_time createTime from
		t_permission t
		where t.deleted = false
		<if test="keyword != null and keyword != ''">
			AND t.name LIKE
			CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
		</if>
		<if test="appId != null and appId != ''">
			AND t.app_id = #{appId}
		</if>
		<if test="parentId != null">
			AND t.parent_id = #{parentId}
		</if>
		order by t.create_time asc
	</select>

	<!-- 查询角色拥有的权限 -->
	<select id="findCheckedByRoleId" parameterType="Long" resultType="com.xdaocloud.framework.dto.response.permission.FindByRoleIdResponse">
		SELECT
		p.id,
		p.name,
		p.parent_id parentId,
		IF(
		(SELECT
		COUNT(*)
		FROM
		t_role_permission t
		WHERE t.permission_id = p.id
		AND t.role_id =
		#{roleId}) > 0,
		TRUE,
		FALSE
		) AS checked
		FROM
		t_permission p WHERE p.deleted = false AND p.status = 1
	</select>

	<select id="findPermission" parameterType="java.lang.Object" resultType="java.lang.String">
		SELECT p.permission_key FROM t_permission p WHERE p.app_id = #{appId} AND p.id IN
		(SELECT rp.permission_id FROM t_role_permission rp WHERE rp.role_id IN
		(SELECT role_id FROM t_user_role WHERE user_id = #{userId}));
	</select>
</mapper>